h1 {
    font-family: papyrus;
    border-bottom-style: solid;
}
p {
    font-family: helvetica;
}
#head1 {
    text-align: center;
}
#source {
    font-size: 10px;
}
#para2 {
    border-style: groove;
}
.link {
    text-decoration: underline;
}
a:link {
    color:blue;
}
a:visited {
    color:green;
}
a:hover {
    color:red;
}