h1 {
    font-family: papyrus;
    border-bottom-style: solid;
}
p {
    font-family: helvetica;
}
pre {
    font-family: monaco;
}
a:link {
    color:blue;
}
a:visited {
    color:green;
}
a:hover {
    color:red;
}