h1 {
    font-family: papyrus;
    border-bottom-style: solid;
}
p {
    font-family: helvetica;
}
#head1 {
    text-align: center;
}
a:link {
    color:blue;
}
a:visited {
    color:green;
}
a:hover {
    color:red;
}